/*var inserts the value of a custom property
the --attributes are custom properties*/
body {
  background: var(--backg);
  --btn: #2ab1ce;
  --backg: #fff;
  --colorx: #232323;
  padding-top: 2%;
  padding-left: 8%;
  padding-right: 8%;
}

html[data-theme='darktheme'] {
  background: var(--backg);
  --btn: #ea4b3c;
  --backg: #232323;
  --colorx: #fff;
}

h1, h2 {
  color: var(--colorx);
  }

  html.transition,
  html.transition *,
  html.transition *:before,
  html.transition *:after {
    transition: ease-in-out 200ms !important;
    transition-delay: 0 !important;
  }
