{% extends "template.html" %}
{% block content %}
<table class="table table-striped">
    <h1>Leaderboard</h1>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Points</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Dani</td>
            <td>500</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jake</td>
            <td>100</td>
        </tr>
    </tbody>
</table>
{% endblock %}